streamlit==1.43.0
torch==2.2.2
transformers==4.41.2
matplotlib==3.8.4
seaborn==0.13.2
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
plotly==5.20.0
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
